* {
    box-sizing: border-box;  
}


header {
    width: 100%;
    display: inline-block;
    background-color: white;   
}


body {
    background-color: whitesmoke;
    margin: 0px; 
}


.wrapper {
    width: 1000px;
    margin: auto;
}


.container{
    padding: 30px;
    background-color: white;
   
}


#main.container {
    background-color: white;
    margin: 50px 0px 3px 0px;
   
}
